
.simplifier-login-block, .simplifier-signup-block {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  top: 60px;
  .logo {
    margin: 0 0 24px 0;
    text-align: center;
    img {
      max-width: 40px;
      display: inline-block;
      margin-top: -7px;
    }
    span {
      margin-left: 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 40px;
      display: inline-block;
    }
  }
  .btn_block {
    width: 100%;
    float: left;
    .login-form-button {
      width: 100%;
      float: left;
      height: 40px;
    }
    .signup_btn {
      float: left;
      width: 50%;
      text-align: center;
      padding-left: 10px;
      line-height: 32px;
    }
    .login_btn {
      float: left;
      width: 50%;
      text-align: left;
      padding-left: 10px;
      line-height: 32px;
      .btn-login {
        float: right;
        width: 105px;
        line-height: 30px;
      }
    }
  }
  .login-form-forgot {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 5px;
    i {
      padding-left: 10px;
      color: #555555;
    }
  }
  .simplifier-checkbox {
    margin: 0 0 10px;
    line-height: 1;
  }
  input {
    height: auto;
    padding: 5px 10px;
    font-size: 16px;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 35px;
  }
  .ant-input-prefix {
    i {
      color: #e2e2e2;
      font-size: 16px;
    }
  }
  .ant-btn {
    line-height: 1;
  }
}
