<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            font-family: "Roboto";
            margin: 0;
            padding: 0;
        }
        .container{
            max-width: 640px;
            background: #f5f5f5;
            margin: 0 auto;
            padding: 20px;

        }
        ul{
            background: #1890ff;
            color: #000;
            display: inline-block;
            padding: 20px;
        }
        ul li{
            margin-bottom: 4px;
            color: #fff;
            padding: 0;
            float: left;
            width: 100%;
            list-style: none;
        }
        ul li a{
            font-size: 18px;
            color: #fff!important;
        }
        .footer{
            margin-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Поступила заявка на обратную связь с клиентом</a></h2>
    <br><br>
    <ul>
        <li><h3>Данные клиента: </h3></li>
        <li>Имя: {{name}}</li>
        <li>Телефон: {{phone}}</li>
        <li>Email: {{email}}</li>
        <li>Cтраница заявки: <a href="{{url}}">Ссылка</a></li>
        <li>
            Комментарий:
            <br>
            <br>
            {{comment}}
        </li>
    </ul>
</div>
</body>
</html>