<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            font-family: "Roboto";
            margin: 0;
            padding: 0;
        }
        .container{
            max-width: 640px;
            background: #f5f5f5;
            margin: 0 auto;
            padding: 20px;
            
        }
        ul{
            background: #1890ff;
            color: #fff;
            display: inline-block;
            padding: 20px;
        }
        ul li{
            margin-bottom: 4px;
            color: #fff;
            padding: 0;
            float: left;
            width: 100%;
            list-style: none;
        }
        ul li a{
            font-size: 18px;
            color: #fff!important;
        }
        .footer{
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Здравствуйте, {{firstname}} {{surname}}! <br> Теперь Вы зарегистрированы на сайте <a href="http://pribaltica.ru">Прибалтика.ру</a></h2>
        <br><br>
        <p>Для входа в личный кабинет используйте следующие логин и пароль</p>
        <ul>
            <li>Логин: {{email}}</li>
            <li>Пароль: {{password}}</li>
        </ul>
        <div class="footer">
            <p>C Уважением,</p>
            <p>Менеджер: {{manager_name}} <br> Email: <a href="mailto:{{manager_email}}">{{manager_email}}</a></p>
            <p>Сайт <a href="http://pribaltica.ru">Прибалтика.ру</a></p>
        </div>
    </div>
</body>
</html>